<p id="notice"><%= notice %></p>

<h1 class="recipe_title">
  <%= @recipe.title %>
</h1>

<div class="recipe_date">
  <span class="separator">Posted on </span>
  <%= @recipe.posted_on %>
</div>

<div class="recipe_description">
  <%= @recipe.description %>
</div>

<div id="instructions_box">
  <p>
    <b>Ingredients:</b>	
    <ul class="icons">	
    <% for ingredient in @recipe.ingredients do%>
    <li><i class="icon-beaker"></i><%= ingredient[:name] %> <%= @recipe.quantities.find_by_ingredient_id(ingredient.id).amount %> g</li>
    <% end %>
    </ul>
  </p>
   <p>
    <%= @recipe.instructions %>
  </p>
</div>

<div>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
</div>
 